<!DOCTYPE html>
<html>
    <head>
        <title>Food order form</title>
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    </head>
    <body>
        <section class="hero is-danger is-medium is-bold">
            <!-- Hero head: will stick at the top -->
            <div class="hero-head">
              <nav class="navbar">
                <div class="container">
                  <div class="navbar-brand">
                    <a class="navbar-item">
                      <p>National Junior College</p>
                    </a>
                    <span class="navbar-burger burger" data-target="navbarMenuHeroA">
                      <span></span>
                      <span></span>
                      <span></span>
                    </span>
                  </div>
                  <div id="navbarMenuHeroA" class="navbar-menu">
                    <div class="navbar-end">
                      <a class="navbar-item is-active">
                        Home
                      </a>
                      <a class="navbar-item">
                        Order form
                      </a>
                      <a class="navbar-item">
                        Documentation
                      </a>
                      <span class="navbar-item">
                        <a class="button is-primary is-inverted">
                          <span>Admin console</span>
                        </a>
                      </span>
                    </div>
                  </div>
                </div>
              </nav>
            </div>
          
            <!-- Hero content: will be in the middle -->
            <div class="hero-body">
              <div class="container has-text-centered">
                <h1 class="title">
                  Food order form 
                </h1>
                <h2 class="subtitle">
                  now online!!11!
                </h2>
              </div>
            </div>
          </section>
          <body>
            <section class="section">
              <div class="container">
                <h1 class="title">How to use</h1>
                <h2 class="subtitle">
                    This is currently in alpha testing and only used by the class of 19SH07. If this thing is good and can be scaled up then we will make this into beta release. Have a nice day:)
                </h2>
                <p>
                    Remember those shitty order forms or that crapy excel system that you use to glue everything together? Now with this system it is all integrated into one platform for both the person who is collecting the money as well as the person that has to put in all the orders. As such this should help my class chair person much more to get off his lazy ass. Anyways, head over to the order form section of this website, where there is a well... order form. Fill in your order and click submit. To update your order just submit another order. 
                </p>
              </div>
            </section>
            <section class="section">
                <div class="container">
                  <h1 class="title">DESIGN DOC / FEATURE REQ </h1>
                  <h2 class="subtitle">
                      Main features
                  </h2>
                  <ol type="I">
                    <li>Allow user to input the order form multiple stores</li>
                    <li>The form should account for the date and the break trimmings</li>
                    <li>Send the input to the central database. This centra database should be able to sort and read all the thingy</li>
                    <li>Make admin console such that everything is consolidated into one place to allow the people to sort by stall or sort by person ordering.</li>
                  </ol>
                </div>
              </section>
            <footer class="footer">
                <div class="content has-text-centered">
                  <p>
                    By wang potao. All rights reserved. 
                  </p>
                </div>
              </footer>
          </body>
    </body>
</html>