<!DOCTYPE html>
<html>

<head>
  <title>Food order form</title>
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  <link href="~bulma-calendar/dist/css/bulma-calendar.min.css" rel="stylesheet">
  <script src="~bulma-calendar/dist/js/bulma-calendar.min.js"></script>
  <link rel ="stylesheet" href = "../Static/test.css">
</head>

<body>
  <section class="hero is-danger is-medium is-bold">
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item">
              <p>National Junior College</p>
            </a>
            <span class="navbar-burger burger" data-target="navbarMenuHeroA">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div id="navbarMenuHeroA" class="navbar-menu">
            <div class="navbar-end">
              <a class="navbar-item">
                Home
              </a>
              <a class="navbar-item is-active">
                Order form
              </a>
              <a class="navbar-item">
                Documentation
              </a>
              <span class="navbar-item">
                <a class="button is-primary is-inverted">
                  <span>Admin console</span>
                </a>
              </span>
            </div>
          </div>
        </div>
      </nav>
    </div>

    <section class="section">
      <div class="container">
        <h1 class="title">View your Food Orders</h1>
        <h2 class="subtitle">
          See the number of orders you've received
        </h2>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <h1 class="title">You are Viewing By Student Orders</h1>
        <h2 class="subtitle">
          To view changes in payment status, please refresh page
        </h2>
      </div>
    </section>
  </section>
  <!-- Table for Admin View - Bulk Order -->
  <section class="section bulk-order">
    <div class="container">
      <div class="buttons">
        <button class="button is-light is-info">Refresh Page</button>
        <a href="bulk-admin-page.html" class="button is-light is-warning">
          View By Bulk Orders
        </a>
      </div>
      <div class="table-wrapper">
        <table class="table is-striped is-fullwidth">
          <tbody>
            <tr class="table-headers">
              <th>
                Student Name
              </th>
              <th>
                Stall Name
              </th>
              <th>
                Order
              </th>
              <th>
                Total Price
              </th>
              <th>
                Payment Status
              </th>
              <th>
                Update Payment Status
              </th>
            </tr>
            <tr class="appended-values">
              <td>
                Clowncat
              </td>
              <td>
                Amazon
              </td>
              <td>
                Clown Outfit
              </td>
              <td>
                $42.00
              </td>
              <td>
                Paid
              </td>
              <td>
                <label class="checkbox">
                  <input type="checkbox" class = "change-padding">
                </label>
              </td>
            </tr>
            <tr class="appended-values">
              <td>
                Clowncat
              </td>
              <td>
                Amazon
              </td>
              <td>
                Clown Outfit
              </td>
              <td>
                $42.00
              </td>
              <td>
                Not Paid
              </td>
              <td>
                <label class="checkbox">
                  <input type="checkbox">
                </label>
              </td>
            </tr>
            <tr class="appended-values">
              <td>
                Clowncat
              </td>
              <td>
                Amazon
              </td>
              <td>
                Clown Outfit
              </td>
              <td>
                $42.00
              </td>
              <td>
                Paid
              </td>
              <td>
                <label class="checkbox">
                  <input type="checkbox">
                </label>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</body>